# R and R studio files
**/.Rhistory
**/.Rdata
**/.RProj.user

# Packrat source and binary directories
packrat/lib*/
packrat/src/*

# RMarkdown output
Reports/*.html

# Generated data files
inst/extdata/generated/*

# RStudio additions
.Rproj.user
